<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Page</title>
</head>

<body>
    <form action="/api/eventlog" method="GET">
        <button type="submit">Event Log History</button>
    </form>

    <form action="/api/history" method="GET">
        <button>Message Log History</button>
    </form>

    <% for(var i = 0 ; i< data.length;i++){ %>
    <form method="post" action="api/roomhistory/<%=data[i].roomName %>">
        <input type="submit"> <%=data[i].roomName %></input>
    </form>
    <%}%>

</body>

</html>