<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Export socket.io on client side -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
    <script src="https://mernsocketio.herokuapp.com/socket.io/socket.io.js"></script>
    <title>Simple Chat App</title>
</head>

<body>


    <div class="mainPage">
        <header>
            <h1>Simple Chat App</h1>
        </header>
        <section>
            <div id="create_room">
                <input id="new_room" type="text" />
                <button id="send_new_room" type="button">Create Room</button>
            </div>
        </section>
        <section id="feedback"></section>
        <section class="horizontal">
            <section id="chatroom">
            </section>
            <section id="roomlist">
                <h1>Room List</h1>
                <h2>Join Room:</h2>
                <select id="rooms">
                    <option selected="true" disabled="disabled">--Please choose a room--</option>
                    <% rooms.map((room) => { %>
                    <option id="<%= room.roomName %>Room" value="<%= room.roomName %>"><%= room.roomName %></option>
                    <% }) %>

                </select>
                <br><br>
                <h1 id="currentRoom"></h1>
                <h1 id="currentActive"></h1>
            </section>
        </section>

        <section id="input_zone">
            <input id="message" class="vertical-align" type="text" />
            <button id="send_message" class="vertical-align" type="button">Send</button>
        </section>
    </div>
    <!-- Export socket.io on client side -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
</body>

</html>