<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
    <title>Message History</title>
</head>
<body>
    <table style="width:100%">
            <tr>
              <th>Username</th>
              <th>Message</th>
              <th>Room</th>
              <th>Timestamp</th>
            </tr>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].senderUsername %></td>
             <td><%= data[i].message %></td>
             <td><%= data[i].roomName %></td>
             <td><%= data[i].time %></td>
           </tr>
        <% } %>
        </table>
</body>
</html>